.ml {
  margin-left: 2rem;
}

.d-f {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: blue; */
}

.custom-modal-body {
  width: 50rem; /* Set the desired width */
  /* background-color: aqua; */
}

.right {
  float: right;
}

.user-d {
  display: "flex";
  justify-content: space-evenly;
  align-items: center;
}

.del-btn {
  display: flex;
  justify-content: end;
  margin-top: 1rem;
}

.del-btn-x {
  margin-right: 0.5rem;
}

/* .form-new-project {
  line-height: 4rem;
} */
