h3 {
  color: rgb(125, 131, 131);
  margin-left: 3rem;
  /* align-items: center; */
  /* justify-content: center;
    align-items: center; */
}

hr {
  margin-left: 3rem;
  margin-right: 3rem;
}

.mr-bg {
  background-color: rgba(227, 230, 230, 0.25);
}

.mr-color {
  color: #fff;
}
.mr-centered {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 1.5rem;
}

.ml {
  margin-left: 2.5rem;
  margin-right: 2.5rem;
}

.project-list {
  margin-top: 2.5rem;
}

.project-list-table {
  background-color: blue;
}

.comp-center {
  margin: 3rem;
}

.assign-button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.m-trash {
  color: rgb(236, 30, 30);
}

.contrib-proj-select {
  /* background-color: blue; */
  max-width: 80%;
  margin-left: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form-issue {
  flex: 6;
  margin-right: 1rem;
}

/* .m-b {
  margin-top: 1rem;
} */
